.autocomplete {
    /*the container must be positioned relative:*/
    box-sizing: border-box;
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    font-family: Tahoma,
        Geneva,
        sans-serif;
    letter-spacing: 0.5px;
    color: white;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #2f3640;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #4282c6;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #547497 !important;
    color: #ffffff;
}