/*General css for the main containers and next/prev buttons*/
.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.flex-item1 {
  background-color: #d43132;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

.flex-item2 {
  background-color: #d43132;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 8px solid #89061c;
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
}

.top-menu {
  min-width: 100%;
  min-height: 8rem;
  height: auto;
  width: auto;
  background-image: url(../images/rsz_pokedex.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid #89061c;
  flex-shrink: 0;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 568px) {
  html {
    background-image: none;
    background-color: #d43132;
  }

  .main-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-item1,
  .flex-item2 {
    width: 100%;
  }

  .flex-item1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .flex-item2 {
    border-left: 0;
    border-top: 8px solid #89061c;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}

.next_prev_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-button,
.right-button {
  font-family: pokemon-dp-pro, Tahoma;
  font-size: 25px;
  align-items: center;
  background: #dedede;
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
  width: 100px;
}